<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
//This includes the header into the view
    <%- include('/partials/header') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Looong Wknd %></p>
    
    
  </body>
</html>
