<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('/partials/header') %>
  </head>
  <body>
    <h1><%= title %></h1>
	//A paragraph and multiple input textfields and two buttons one attempts to render the home screen and other creates the account
    <p>Long Weekend %></p>
    <input type="text" id="firstname">
    <input type="text" id="lastname">
    <input type="text" id="id">
    <input type="text" id="email">
    <input type="text" id="password">
    <button type="submit" onClick=res.render(index)> </button>
    <button type="submit" onClick=createUser> </button>

  </body>
</html>
