<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('/partials/header.ejs') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <input type="text" id="userid">
    <input type="text" id="password">
    <button type="submit" onClick=res.render(index)> </button>
    <button type="submit" onClick=createUser> </button>


  </body>
</html>
