<header class="header">
  <img src="/images/logo.png" alt="Company Logo" class="header__logo" />
  <nav class="header__nav">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/signin">Sign In</a>
    <a href="/register">Register</a>
  </nav>
</header>
