<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Long Weekend %></p>
    <p> User will go here</p>
    <button type="submit" onClick=AddUser> </button>

  </body>
</html>

<script>
  function AddUser()
  {

  }
</script>