<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="./public/images/logo">
    <a href="/">Home</a> 
    <a href="/register">Register</a> 
    <a href="/signin">Signin</a> 
    <a href="/projects">Projects</a> 
  </body>
</html>
