<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="signin">
        <h2>Sign In</h2>
        <form action="/signin" method="POST" class="signin-form">
            <label for="userId">User ID:</label>
            <input type="text" name="userId" id="userId" required />
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
            <button type="submit">Enter</button>
        </form>
    </div>
</body>
</html>
